.body__container{
  padding: 50px;
}

.box{
  overflow: hidden;

  display: flex;
  margin: 0 auto 50px;

  width: 100%;
  height: 200px;

  min-width: 200px;

  text-align: center;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  
  transition: all 0.3s;
}

.box:hover img{
  opacity: 0.2;
}

.box:hover{
  background-color: #1C301E;
}

.half_image{
  width: 75vw;
  height: 100%;

  object-fit: cover;
}

.image_landing{
  width: 100%;
  height: auto;
}

.background_image{
  object-fit: cover;
  
  height: 100%;
  width: 100%;

  filter: brightness(40%);
}

.foreground{
  font-size: 2em;
  position: absolute;
  color: #C6FFC4;
}

.container_row{
  display: flex;

  gap: 30px;
  padding: 0 20px;
}

.container_row>h2{
  text-align: center;
  display: block;
  margin: auto auto 50px auto;
}

.container_label{
  border-bottom: 1px solid black;

  width: 100%;
}

.unclickable{
  pointer-events: none;
}