.container {
    height: 450px;
    margin-bottom: 50px;
}

.background_image {
    width: 100vw;
    height: 450px;

    object-fit: cover;
    /* filter: brightness(40%); */
}

.foreground {
    position: absolute;
    z-index: 1;

    top: 20vh;
    left: 10vw;

    background-color: rgba(255, 255, 255, 0.95);

    width: 35vw;
    min-width: 350px;
    height: 300px;

    padding: 15px 50px;
}

.background {
    position: absolute;
}

.button{
    padding: 15px 25px;
    background-color: #1C301E;
    color: white;

    font-weight: bold;
    font-size: 18px;

    border: 1px solid #1C301E;
}

.button:hover{
    cursor: pointer;
    color: #1C301E;
    background-color: white;
}